<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parnswir.unmp"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service
        	android:name="com.parnswir.unmp.PlayerService"
        	android:label="Player Service" >
    	</service>
        
        <activity
            android:name="com.parnswir.unmp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/PlayerTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.parnswir.unmp.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.testapp.MainActivity" />
        </activity>
        <activity
            android:name="com.parnswir.unmp.DebugActivity"
            android:label="@string/title_activity_debug" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.testapp.MainActivity" />
        </activity>
        <activity
            android:name="com.parnswir.unmp.LibraryActivity"
            android:label="@string/title_activity_library" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.testapp.MainActivity" />
        </activity>
    </application>

</manifest>